<div class="page-header">
    <h1>
        Acerca de</h1>
</div>
<div class="row">
    <div class="span12">
        <p>
            <p>Web site para analizar tus contactos y mostrarte que tan cesta estan de ti
              en base a los comentarios, Like's en tu perfil de facebook.</p>
        </p>
    </div>
    <div class="span10">
    </div>
</div>
