<div class="page-header">
          <h1>Acerca de</h1>
        </div>
        <div class="row">
          <div class="span12">
          	<p>
				<p>Pretende graficar que tan cerca estan nuestros contactos en base a los comentarios, like's y demas en nuestro perfil de facebook.</p>
			</p>
          </div>
          <div class="span10">
            &nbsp;
          </div>
        </div>


